body {
    background-color: #d5e1ef;
}

.container {
    background-color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}



.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

